.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}
.logo{
  height: 70px;
}
header{
  height: 15vh;
  background-color: #579f57;
}

main{
  height: auto;
}

footer{
  height: 15vh;
  color: white;
  background-color: #3a7e3a;
}